
@{
    ViewBag.Title = "dataPage";
}

<h2>dataPage</h2>


<main id="main" class="main">
    <div class="pagetitle">
        <h1>General Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">All Machines</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Menampilkan Semua Machine dan Partnumber</h5>
                        <a href="/tables-general-spesific.html">
                            <button type="button" class="btn btn-success">Filter by Machine</button>
                        </a>
                        <button type="button" class="btn btn-outline-success">Add Part Number</button>
                        <br /><br />

                        <!-- Table with hoverable rows -->
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th scope="col">No Machine</th>
                                    <th scope="col">Part Number</th>
                                    <th scope="col">Actual Output</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">A01</th>
                                    <td>Designer</td>
                                    <td>28</td>
                                    <td>2016-05-25</td>
                                    <td>
                                        <a href="">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">C02</th>
                                    <td>Developer</td>
                                    <td>35</td>
                                    <td>2014-12-05</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">B03</th>
                                    <td>Finance</td>
                                    <td>45</td>
                                    <td>2011-08-12</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">A12</th>
                                    <td>Finance</td>
                                    <td>45</td>
                                    <td>2011-08-12</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">A13</th>
                                    <td>Finance</td>
                                    <td>45</td>
                                    <td>2011-08-12</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">A14</th>
                                    <td>Finance</td>
                                    <td>45</td>
                                    <td>2011-08-12</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">A15</th>
                                    <td>Finance</td>
                                    <td>45</td>
                                    <td>2011-08-12</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">A16</th>
                                    <td>Finance</td>
                                    <td>45</td>
                                    <td>2011-08-12</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">A19</th>
                                    <td>HR</td>
                                    <td>34</td>
                                    <td>2012-06-11</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">D04</th>
                                    <td>Dynamic Division</td>
                                    <td>47</td>
                                    <td>2011-04-19</td>
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-light"><i class="bi bi-pencil-square me-1"></i> Update Data</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->