@*@model OEE_SSC.Models.pim_user_output*@
@model OEE_SSC.Models.pimListData
@{
    ViewBag.Title = "innerDataMC_locked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Referensi untuk jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<main id="" class="main" style="padding: 80px 3% 3% 3%;">

    <h1> LOCKED SSC</h1>
</main>
